body {
    color: rgb(241, 241, 241);
    width: 100%;
}

#navbar {
    background-color: rgb(223, 237, 238);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 80px;
}

ul {
    /* width: 100%; */
    padding-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#welcome-section {
    background-color: rgb(190, 144, 57);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    background: linear-gradient(0.5turn, #292e91, #c2fdff, #6fc3f7, #c2fdff, #6fc3f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

p {
    color: rgb(232, 232, 252);
    font-size: 20px;
}

#project {
    max-width: 100%;
    /* width:auto */
    /* overflow:hidden; */
    /* margin: auto; */
    background-color: #283741;


}

.project-tile {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 2fr));
    grid-gap: 2rem;
    width: 100%;
    margin: 0px auto; */
    display: flex;
    justify-content: space-evenly;
}

figure{
    border: 2px solid aqua;
    width: fit-content;
    padding: 2em;
}
a{
    width: 100%;
}


footer {
    background-color: rgb(26, 15, 15);
    padding: 3em 0px;
    /* height: 40vh; */
}

#project-link img{
    width: 50px;
    height: 50px;
}

.project-links img{
    width: 50px;
    height: 50px;
}
div a {
    display: block;
    margin: 2em;
    display: flex;
    justify-content: center;
}

.socials{
    display: flex;
    justify-content:center;
    align-items: center;
}

@media (max-width: 800px) {
    .project-tile{
        flex-direction: column;
    }
    
}